.accordion-container {
    background: #f6f6ec;
    width: 100%;
    height: 100%;
    margin: 0;
}

.accordion {
    padding: 0;
    width: 50%;
    margin: auto;
}

.accordion li {
    list-style-type: none;
}

.accordion-close {
    display: none;
}

.accordion:hover .accordion-close {
    width: 30px;
    display: block;
    cursor: pointer;
    transition: transform .25s, opacity .25s;
}

.accordion_item {
    display: flex;
    justify-content: space-between;
    height: 50px;
    overflow: hidden;
    transition: height 2s;
    cursor: pointer;
}

.accordion_item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.accordion_item:focus {
    height: 250px;
}

.accordion_item:hover {
    height: 250px;
}

.accordion_item:hover .accordion-close {
    transform: rotate(45deg) translate(-50%);
}

.image {
    width: 200px;
    height: 200px;
}

.accordion_title,
.accordion-close {
    margin-top: 15px;
    height: 50px;
}